footer {
    position: relative;
    margin-top: 20vh;
    bottom: 0;
    width: 100vw;
    height: 30vh;
    background-color: var(--verCla);
    .foot {
       display: flex;
       height: 100%;
       flex-direction: row-reverse;
       .shade {
           background-color: var(--verOsc);
           width: 40%;
       }
       .shader {
           background-color: var(--ver);
           width: 30%;
       }
    }
}