.cabecera {
    background-color: $verOsc;
    height: 6vh;
    width: 100%;
    padding: 1rem;
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    span {
        a{
        font-weight: 800;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2vw;
        font-size: 2rem;
        }
    }
}
.cabecera-clara {
    background-color: $ver;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    ul {
       list-style:none;
       display: flex;
       align-self: flex-end;
       gap: .5rem;
       li {
           margin-right:5vw;
           padding-bottom:1rem;
           a{
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            &:hover{
                color: $amaCla;
            }
            &:active{
                text-shadow: 0 0 5px $verOsc;
            }
           }
       }
    }
}
  