.cabecera {
    background-color: var(--verOsc);
    height: 2rem;
    width: 100%;
    padding: 1rem;
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        a{
        font-weight: 800;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2vw;
        font-size: 2rem;
        }
        
    }
    img{
        height: 1.5rem;
        margin: 5px;
        animation-name: stretch;
        animation-duration: 2.0s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-play-state: running;
        filter: invert(90%) sepia(93%) saturate(465%) hue-rotate(358deg) brightness(105%) contrast(104%); 
        &:hover{
            cursor: pointer;
           -webkit-drop-shadow: 0px 0px 5px #fff;
        }
        }
        @keyframes stretch {
            0% {
                transform: scale(.9);
            }
            100% {
                transform: scale(1.0);
            }
        }
  
    }
   
.cabecera-clara {
    background-color: var(--ver);
    height: 7rem;
    display: flex;
    justify-content: flex-end;
    ul {
       list-style:none;
       display: flex;
       align-self: flex-end;
       gap: .5rem;
       li {
           margin-right:5vw;
           padding-bottom:1rem;
           a{
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            &:hover{
                color: var(--amaCla);
            }
            &:active{
                text-shadow: 0 0 5px var(--verOsc);
            }
           }
       }
    }
}
  