.swal-modal {
    background-color: var(--ama);
    max-width: 500px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 80%;
    border-radius: 10px;
    box-shadow: -15px 15px  var(--amaCla);
    font-weight: 800;
    .swal-text{
        font-weight: 800;
    }
    .swal-button {
        padding: .5rem;
        border-radius: 5px;
        background-color: rgb(195, 195, 195);
        font-size: 12px;
        border: 1px solid #3e549a;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
      }
      
}
