.tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap:1.5rem;
    margin: 5rem auto;
    .tienda-uno{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
        .tienda-control {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            background-color: $ver;
            padding: 1rem 2rem;
            width: 80%;
            border-radius: 10px;
            box-shadow: -15px 15px  $verCla;
            font-weight: 800;
            input, select{
                text-align: center;
                border-radius: 5px;
                width: 33%;
            }
            button{
                border-radius: 5px;
                font-weight: 800;
                padding: .5rem;
                margin: .5rem;
                &:hover {
                    cursor: pointer;
                    background-color: $amaCla;
                }
                &:active {
                    background-color: $ama;
                    box-shadow: -2px 2px 10px $amaCla, 2px -2px 10px $amaCla ;
                }
            }
        } 
        .filtro {
            display: flex;
            flex-direction: column;
            width: 50%;
            text-align: center; 
            background-color: $ama;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: -15px 10px $amaCla;
            font-weight: 800;
            select{
                text-align: center;
                border-radius: 5px;
                font-weight: 500;
            }
        }
}
    .tienda-seleccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 80%;
            margin: 1.5rem;
        }
    }
    .tienda-fotos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:  auto;
        gap: .5rem;
        max-width: 80%;
        img{ 
            width: clamp(20%, 15rem, 45%);
            height: auto;
            &:hover {
                cursor: pointer;
                transform: scale(1.7) ;
            }
        }
    }
}


.carrito-modal {
    display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.tienda-carrito {
    background-color: $ama;
    width: 10vw;
    height: 80vh;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding: 1rem;
    width: 80%;
    border-radius: 10px;
    box-shadow: -15px 15px  $amaCla;
    font-weight: 800;
    img {
        width: auto;
        height: 60%;
    }
    button{
        border-radius: 5px;
        font-weight: 800;
        padding: .5rem;
        margin: .5rem;
        &:hover {
            cursor: pointer;
            background-color: $verCla;
        }
        &:active {
            background-color: $ver;
            box-shadow: -2px 2px 10px $verCla, 2px -2px 10px $amaCla ;
        }
    }
}
@media (min-width: 850px){
    .tienda {
        .tienda-uno {
                flex-direction: row;
                align-items: center;
                gap: 10rem;
                margin-bottom: 2rem;
                .filtro {
                    height: fit-content;
                }
            }
            .tienda-dos {
                display:flex;
                max-width: 1300px;
            .tienda-seleccion{
                width: 40%;
            }
            .tienda-fotos{
                width:40%;
            }
            }
}
}
