.tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap:1.5rem;
    .tienda-control {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        background-color: $ver;
        padding: 1rem 2rem;
        margin: 10vh auto;
        width: 80%;
        border-radius: 10px;
        box-shadow: -15px 15px  $verCla;
        input, select, label{
            text-align: center;
            border-radius: 5px;
            font-weight: 800;
            width: 33%;
        }
        button{
            border-radius: 5px;
            font-weight: 800;
            padding: .5rem;
            margin: .5rem;
            &:hover {
                cursor: pointer;
                background-color: $amaCla;
            }
            &:active {
                background-color: $ama;
                box-shadow: -2px 2px 10px $amaCla, 2px -2px 10px $amaCla ;
            }
        }
    } 
    .filtro {
        display: flex;
        flex-direction: column;
        text-align: center; 
        background-color: $ama;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: -15px 10px $amaCla;
    }
    .tienda-seleccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 80%;
            margin: 1.5rem;
        }
    }
    .tienda-fotos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:  auto;
        gap: .5rem;
        max-width: 80%;
        img{ 
            width: clamp(20%, 15rem, 45%);
            height: auto;
            &:hover {
                cursor: pointer;
                transform: scale(1.7) ;
            }
        }
    }
}

@media (min-width: 800px){
    .tienda-uno {
        display:flex;
        align-items: center;
        gap: 10rem;
        .filtro {
            height: fit-content;
        }
    }
    .tienda-dos {
        display:flex;
       .tienda-seleccion{
        width: 40%;
       }
       .tienda-fotos{
        width:40%;
       }
    }
}
