.light {
    --ver : #00c652; 
    --verCla : #5efa81;
    --verOsc : #009423;
    --ama : #ffd600;
    --amaCla : #ffff52;
    --amaOsc : #c7a500;
    --bg : #fff;
}

.dark {
    --ver : #900060; 
    --verCla : #ef6fea;
    --verOsc : #740f66;
    --ama : #5052cb;
    --amaCla : #4076dc;
    --amaOsc : #093576;
    --bg : #333;
}