.cabecera {
  background-color: #009423;
  height: 6vh;
  width: 100vw;
  padding: 1rem;
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center; }
  .cabecera span {
    font-weight: 800;
    margin-left: 3vw; }

.cabecera-clara {
  background-color: #00c652;
  height: 20vh;
  display: flex;
  justify-content: flex-end; }
  .cabecera-clara ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
    gap: .5rem; }
    .cabecera-clara ul li {
      margin-right: 5vw;
      padding-bottom: 1rem; }
      .cabecera-clara ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold; }
        .cabecera-clara ul li a:hover {
          text-shadow: 0 0 5px #fff; }
        .cabecera-clara ul li a:active {
          text-shadow: 0 0 5px #009423; }

/* .cabecera-clara{
    background-color: $ver;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
    width: 7rem;
    height: auto;
    }
    ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    li {
        a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-weight: 800;
        &:hover {
            color:$amaCla; 
        }}
    }
    }
}*/
.inicio-carrusel {
  display: grid;
  place-items: center; }
  .inicio-carrusel h1 {
    position: absolute;
    z-index: 2;
    justify-self: right;
    text-align: right;
    margin-right: 5vw;
    margin-left: 20vw;
    margin-bottom: 30%;
    letter-spacing: .3rem;
    font-size: clamp(0.5rem, 5vw, 1rem);
    background-color: rgba(118, 31, 162, 0.5);
    padding: 0;
    border-radius: 15px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-text-stroke: 1px #333; }
  .inicio-carrusel img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1; }
  .inicio-carrusel .boton-next {
    cursor: pointer;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    background-color: #ffd600;
    border: 5px solid #c7a500;
    z-index: 2;
    margin-top: -8.5%;
    margin-right: 10%;
    justify-self: end;
    text-align: center;
    line-height: clamp(2rem, 12vw, 6rem); }
    .inicio-carrusel .boton-next span {
      font-size: clamp(2rem, 12vw, 6rem); }
      .inicio-carrusel .boton-next span::selection {
        background-color: transparent;
        color: black; }
    .inicio-carrusel .boton-next:hover {
      box-shadow: 0px 0px 5px #fff; }
    .inicio-carrusel .boton-next:active {
      box-shadow: 0 0 5px #000; }

footer {
  position: relative;
  margin-top: 20vh;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  background-color: #5efa81; }
  footer .foot {
    display: flex;
    height: 100%;
    flex-direction: row-reverse; }
    footer .foot .shade {
      background-color: #009423;
      width: 40%; }
    footer .foot .shader {
      background-color: #00c652;
      width: 30%; }

.tienda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.5rem; }
  .tienda .tienda-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: #00c652;
    padding: 1rem 2rem;
    margin: 10vh auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: -15px 15px #5efa81; }
    .tienda .tienda-control input, .tienda .tienda-control select, .tienda .tienda-control label {
      text-align: center;
      border-radius: 5px;
      font-weight: 800;
      width: 33%; }
    .tienda .tienda-control button {
      border-radius: 5px;
      font-weight: 800;
      padding: .5rem;
      margin: .5rem; }
      .tienda .tienda-control button:hover {
        cursor: pointer;
        background-color: #ffff52; }
      .tienda .tienda-control button:active {
        background-color: #ffd600;
        box-shadow: -2px 2px 10px #ffff52, 2px -2px 10px #ffff52; }
  .tienda .filtro {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffd600;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: -15px 10px #ffff52; }
  .tienda .tienda-seleccion {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .tienda .tienda-seleccion img {
      width: 80%;
      margin: 1.5rem; }
  .tienda .tienda-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: .5rem;
    max-width: 80%; }
    .tienda .tienda-fotos img {
      width: clamp(20%, 15rem, 45%);
      height: auto; }
      .tienda .tienda-fotos img:hover {
        cursor: pointer;
        transform: scale(1.7); }

@media (min-width: 960px) {
  .tienda {
    flex-direction: row; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  min-width: 300px; }

main {
  display: flex;
  flex-direction: column; }
